html,
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

* {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  box-sizing: border-box;
  /* outline: 5px solid limegreen !important; */
}

.section {
  margin: 94px 0;
  width: 100%;
}

ul {
  list-style-type: none;
}

.container {
  min-width: 1200px;
  margin: 0 auto;
}

.page_header {
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgb(33, 150, 243);
}
.logo_web {
  color: rgb(0, 0, 0);
}

.navigation_bar {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: space-around;
}

.main_nav_link {
  color: #212121;
  text-decoration: none;
  padding: 0 25px;
  size: 14px;
  line-height: 16px;
  initial-letter-align: 2%;
  font-weight: 500;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main_nav_link:hover, .main_nav_link:focus, .main_nav_link:active {
  color: rgb(33, 150, 243);
}
.main_nav_link:hover:after {
  content: "";
  border-bottom: 4px solid rgb(33, 150, 243);
  border-radius: 2px;
  width: 100%;
  position: absolute;
  bottom: -32px;
  left: 0;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio:hover::after {
  content: "";
  border-bottom: 4px solid rgb(33, 150, 243);
  border-radius: 2px;
  width: 100%;
  position: absolute;
  bottom: -32px;
  left: 0;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact_list {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  gap: 10px;
}
.contact_list_item {
  justify-content: center;
  align-items: center;
}
.contact_list_icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.contact_section_value {
  color: #757575;
  padding: 5px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact_section_value:hover, .contact_section_value:focus, .contact_section_value:active {
  color: rgb(33, 150, 243);
}

.big_section {
  padding: 200px 0;
  text-align: center;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(13, 13, 13, 0.52), rgba(47, 48, 58, 0.4)), url(../images/bg-img.jpg);
}
.big_section h1 {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}
.big_section .button {
  background-color: rgb(33, 150, 243);
  color: #ffffff;
  border: 1px solid rgb(33, 150, 243);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.big_section .request_button:hover,
.big_section .request_button:focus,
.big_section .request_button:active {
  background-color: #f5f4fa;
  color: rgb(33, 150, 243);
}

.skills_section .container {
  width: 1170px;
}
.container .skills_section_list {
  display: flex;
  gap: 30px;
  padding: 0;
}
.skills_section_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 100px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  max-width: 270px;
  max-height: 120px;
}
.skills_section_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.skills_section_subtitle {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

.workTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 90px;
}

.work_section_items {
  display: flex;
  justify-content: space-around;
  padding-left: 0 215px;
}

.box {
  position: relative;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box_bottom {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 3px;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  padding: 27px;
}
.box_bottom p {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
}

.team_section {
  background: #f5f4fa;
  display: flex;
  justify-content: center;
}
.team_section .container {
  padding: 94px 0;
  flex-direction: column;
  gap: 50px;
}

.our_team {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.our_team_section {
  display: flex;
  justify-content: space-around;
}

.team {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.photo {
  width: 260px;
  height: 260px;
}
.photo_container_name {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 3px;
}
.photo_container_name_post {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.team_link {
  color: #757575;
  left: 25px;
  bottom: 10px;
}

.photo_container_post {
  color: #757575;
  padding: 5px;
}

.social_icons_list {
  display: flex;
  gap: 10px;
  padding: 2px;
}

.social_link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social_link:hover, .social_link:focus, .social_link:active {
  color: #ffffff;
  background-color: rgb(33, 150, 243);
}
.social_link .social_icons {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.social_link .social_icons:hover, .social_link .social_icons:focus, .social_link .social_icons:active {
  fill: currentColor;
}

.customer_section {
  display: flex;
  justify-content: center;
}

.customers {
  width: 1170px;
  height: 184px;
}
.customers_logo {
  display: flex;
  gap: 30px;
  color: #afb1b8;
}
.customers_logo_icon {
  width: 100px;
  height: 47px;
  fill: currentColor;
}

.customers_logo_item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 3px;
  width: 170px;
  height: 92px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers_logo_item:hover, .customers_logo_item:focus, .customers_logo_item:active {
  border-color: rgb(33, 150, 243);
  color: rgb(33, 150, 243);
}

.customers_section {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 50px;
}

.subsol {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 30px;
}
.subsol .footer_direction {
  display: flex;
  align-items: self-start;
}
.subsol .footer_address {
  margin-left: 100px;
}

.footer_social_icons {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}
.footer_social_icons .social_icons_list {
  margin-left: -10px;
  fill: #ffffff;
}
.footer_social_icons .social_icons {
  fill: #ffffff;
}

.find_us_p {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 25px;
}

.footer_logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: rgb(33, 150, 243);
  margin-bottom: 25px;
}
.footer_logo_web {
  color: #ffffff;
}

.nv_items_footer {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nv_items_footer:hover, .nv_items_footer:focus, .nv_items_footer:active {
  color: rgb(33, 150, 243);
}

.footerAddres {
  color: #ffffff;
  cursor: pointer;
  display: inline;
}

.foot_logo_contacts {
  margin-left: 130px;
}

.footer_logo_icons {
  display: flex;
  justify-content: center;
}

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #2f303a;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  gap: 25px;
  flex: 1 0 40%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe:hover {
  background-color: #188ce8;
}
.subscribe .social_icons {
  width: 20px;
  height: 20px;
}

.subscribe_container {
  margin-left: 70px;
}
.subscribe_container .subscribe_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.subscribe_form {
  display: flex;
  gap: 12px;
}
.subscribe_form input {
  flex: 1 0 40%;
  min-width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: #ffffff;
}
.subscribe_form input:focus {
  border-color: 1px solid #2f303a;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 5;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.1);
}

.inner-modal {
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  position: relative;
}

.close-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  float: right;
  position: relative;
  top: 8px;
  right: 8px;
  padding: 0;
  margin: 0;
}
.close-modal .close-btn {
  fill: #212121;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.close-modal .close-btn:active {
  fill: rgb(33, 150, 243);
}

.inner_form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.inner_form_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  margin-top: 40px;
}

.info_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
}
.info_box .button {
  background-color: rgb(33, 150, 243);
  color: #ffffff;
  border-color: rgb(33, 150, 243);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px;
  width: 200px;
  height: 50px;
  align-self: center;
  font-family: inherit;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info_box .button:focus, .info_box.button:active, .info_box .button:hover {
  background-color: rgb(33, 150, 243);
}
.info_box_icon {
  position: absolute;
  left: 15px;
  top: 50%;
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.row {
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  position: relative;
}
.row input {
  padding: 14px 43px;
  max-height: 40px;
}
.row:focus-within {
  border-color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}

.row input,
textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-shadow: none;
  color: gray;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 4px;
  cursor: pointer;
}

.info_box input:focus,
textarea:focus {
  outline: 1px solid blue;
}

.info_box textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
}
.info_box textarea textarea:focus::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
}
.info_box textarea textarea:focus:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
}
.info_box textarea textarea:focus::placeholder {
  font-size: 14px;
  line-height: 1.14;
}

.row:focus-within .info_box_icon {
  fill: rgb(33, 150, 243);
}

/* check-box input */
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox input:checked ~ .checkmark {
  background-color: rgb(33, 150, 243);
  border: none;
  border-radius: 2px;
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: 14px;
  height: 15px;
  width: 16px;
  border: 1px solid #212121;
  background-color: #ffffff;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 3.5px;
  bottom: 1.5px;
  width: 8px;
  height: 15px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.term {
  color: rgb(33, 150, 243);
}

.filter {
  display: flex;
  padding: 6px 22px;
  justify-content: center;
  margin-top: 132px;
  gap: 8px;
}
.filter button {
  border-radius: 4px;
  border: none;
  width: 121px;
  height: 38px;
  cursor: pointer;
}
.filter_name {
  font-weight: 700;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  box-sizing: border-box;
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter_name:hover, .filter_name:focus, .filter_name:active {
  background-color: rgb(33, 150, 243);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolo_container {
  width: 1170px;
  margin: 0 auto;
}

.container_img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.container_img_file {
  background: #ffffff;
  border: 1px solid rgb(238, 238, 238);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-wrap: wrap;
  max-width: 370px;
  flex-shrink: 1;
  height: 425px;
}
.container_img_file:hover, .container_img_file:active, .container_img_file:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card {
  overflow: hidden;
  position: relative;
}
.card:hover ::after {
  content: "Technoduck is a state-of-the-art coronavirus distribution platform. Companies use this platform for digital espionage and attacks on competitors' secure servers.";
  color: #ffffff;
  top: 50%;
  position: absolute;
  padding: 15px;
  line-height: 1.2;
}

.overlay {
  width: 370px;
  height: 295px;
  position: absolute;
  opacity: 0.7;
  background-color: rgb(33, 150, 243);
  transform: translateY(370px);
  transition: transform 250ms ease-in-out;
}

.card:hover .overlay {
  transform: translateY(0);
}

.container_img_file_head {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  padding: 20px 0px 0px 24px;
  letter-spacing: 0.06em;
  color: #212121;
}

.container_img_file_paragraf {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  padding-left: 24px;
  color: #757575;
}/*# sourceMappingURL=main.css.map */