:root {
  --white: #ffffff;
  --blue: rgba(33, 150, 243, 1);
  --black: #212121;
  --gray: #757575;
  --lightgrey: #f5f4fa;
  --fontWeight: 700;
  --footerBg: #2f303a;
  --borderColor: rgba(255, 255, 255, 0.3);
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
  box-sizing: border-box;
  /* outline: 5px solid limegreen !important; */
}

.section {
  margin: 94px 0;
  width: 100%;
}
ul {
  list-style-type: none;
}

.container {
  min-width: 1200px;
  margin: 0 auto;
}

.page-header {
  background-color: var(--white);
  border-bottom: 1px solid #e5e5e5;
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-weight: var(--fontWeight);
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--blue);
}

.logo-web {
  color: rgba(0, 0, 0, 1);
}

.navigation-bar {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: space-around;
}

.main-nav-link {
  color: var(--black);
  text-decoration: none;
  padding: 0 25px;
  size: 14px;
  line-height: 16px;
  initial-letter-align: 2%;
  font-weight: 500;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav-link:hover,
.main-nav-link:focus,
.main-nav-link:active {
  color: var(--blue);
}

.portfolio .main-nav-link:hover:after {
  content: "";
  border-bottom: 4px solid var(--blue);
  border-radius: 2px;
  width: 100%;
  position: absolute;
  bottom: -32px;
  left: 0;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  gap: 10px;
}

.contact-list-item {
  justify-content: center;
  align-items: center;
}
.contact-section-value {
  color: var(--gray);
  padding: 5px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-section-value:hover,
.contact-section-value:focus,
.contact-section-value:active {
  color: var(--blue);
}

.contact-list-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}
/* main section */

.big-section {
  padding: 200px 0;
  text-align: center;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      rgba(13, 13, 13, 0.52),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-img.jpg);
}

.big-section h1 {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  font-weight: 900;
  color: var(--white);
  text-align: center;
}

.button {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid var(--blue);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request-button:hover,
.request-button:focus,
.request-button:active {
  background-color: var(--lightgrey);
  color: var(--blue);
}

/* skills section */

.skills-section .container {
  width: 1170px;
}

.skills-section-list {
  display: flex;
  gap: 30px;
  padding: 0;
}
.skills-section-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 100px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  max-width: 270px;
  max-height: 120px;
}

.skills-section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.skills-subtitle {
  color: var(--gray);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}
/* section What we to do */

.workTitle {
  font-weight: var(--fontWeight);
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: var(--black);
  text-align: center;
  margin-bottom: 90px;
}

.work-section-items {
  display: flex;
  justify-content: space-around;
  padding-left: 0 215px;
}
.box {
  position: relative;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-bottom {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 3px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white);
  padding: 27px;
}

.box-bottom p {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: var(--fontWeight);
}

/* team section */

.team-section {
  background: var(--lightgrey);
  display: flex;
  justify-content: center;
  max-width: 1600px;
}

.team-section .container {
  padding: 94px 0;
  flex-direction: column;
  gap: 50px;
}

.photo-container-post .social-link {
  color: var(--gray);
}

.our-team {
  font-weight: var(--fontWeight);
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-bottom: 50px;
}

.our-team-section {
  display: flex;
  justify-content: space-around;
}

.team {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-link {
  color: var(--gray);
  left: 25px;
  bottom: 20px;
}
.photo {
  width: 260px;
  height: 260px;
}

.photo-container-name {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.photo-container-post {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray);
  margin-bottom: 30px;
}

/* footer section */
.subsol {
  background: var(--footerBg);
  padding-top: 60px;
  padding-bottom: 30px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: var(--fontWeight);
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--blue);
  margin-bottom: 25px;
}
.footer-logo-web {
  color: var(--white);
}

.nv-items-footer {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nv-items-footer:hover,
.nv-items-footer:focus,
.nv-items-footer:active {
  color: rgba(33, 150, 243, 1);
}

.footerAddres {
  color: var(--white);
  cursor: pointer;
  display: inline;
}

.foot-logo-contacts {
  margin-left: 130px;
}

.footer-logo-icons {
  display: flex;
  justify-content: center;
}

.subscribe-container {
  margin-left: 92px;
}

.subscribe-container .subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 15px 0 20px 0;
  text-transform: uppercase;
}
.subscribe-form {
  display: flex;
  gap: 12px;
}
.subscribe-form input {
  flex: 1 0 40%;
  min-width: 358px;
  background-color: transparent;
  border: 1px solid var(--borderColor);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
}
.subscribe-form input:focus {
  border-color: 1px solid var(--footerBg);
}

.subscribe {
  color: #ffffff;
  background-color: var(--footerBg);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid var(--borderColor);
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  flex: 1 0 40%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe:hover {
  background-color: #188ce8;
}

/* portfolio section */

.filter {
  display: flex;
  padding: 6px 22px;
  justify-content: center;
  margin-top: 132px;
}

.filter button {
  border-radius: 4px;
  border: none;
  width: 121px;
  height: 38px;
  cursor: pointer;
  margin-right: 8px;
}

.filter-name {
  font-weight: var(--fontWeight);
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  box-sizing: border-box;
  background-color: var(--lightgrey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-name:hover,
.filter-name:focus,
.filter-name:active {
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container-img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolo-container {
  width: 1170px;
  margin: 0 auto;
}

.container-img-file {
  background: var(--white);
  border: 1px solid rgba(238, 238, 238, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-wrap: wrap;
  max-width: 370px;
  flex-shrink: 1;
  height: 425px;
}

.card {
  overflow: hidden;
  position: relative;
}
.overlay {
  width: 370px;
  height: 290px;
  position: absolute;
  opacity: 0.7;
  background-color: var(--blue);
  transform: translateY(370px);
  transition: transform 250ms ease-in-out;
}
.card:hover .overlay {
  transform: translateY(0);
}

.card:hover ::after {
  content: "Technoduck is a state-of-the-art coronavirus distribution platform. Companies use this platform for digital espionage and attacks on competitors' secure servers.";
  color: var(--white);
  top: 50%;
  position: absolute;
  padding: 15px;
  line-height: 1.2;
}

.container-img-file:hover,
.container-img-file:active,
.container-img-file:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.container-img-file-head {
  font-weight: var(--fontWeight);
  font-size: 18px;
  line-height: 36px;
  padding: 20px 0px 0px 24px;
  letter-spacing: 0.06em;
  color: var(--black);
}

.container-img-file-paragraf {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  padding-left: 24px;
  color: var(--gray);
}

/* customer section */

.customers-logo {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  color: #afb1b8;
}

.customer-logo-item {
  background-color: var(--white);
  border: 1px solid #afb1b8;
  border-radius: 3px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-logo-item:hover,
.customer-logo-item:focus,
.customer-logo-item:active {
  border-color: var(--blue);
  color: var(--blue);
}

.customers-logo-icon {
  width: 100px;
  height: 47px;
  fill: currentColor;
  justify-content: space-between;
}

.customers {
  width: 1170px;
  height: 184px;
  margin: 0% 15%;
}

.customer-section {
  font-weight: var(--fontWeight);
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  padding-bottom: 50px;
}

.social-icons-list {
  display: flex;
  gap: 10px;
}

.social-icons {
  width: 20px;
  height: 20px;
  fill: var(--lightgrey);
}

.social-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus,
.social-link:active {
  color: var(--white);
  background-color: var(--blue);
}

.find-us-p {
  font-style: normal;
  font-weight: var(--fontWeight);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  padding-bottom: 25px;
}

.image {
  width: 370px;
  height: 290px;
}

.skills-section-icons {
  width: 270px;
  height: 120px;
  background: var(--lightgrey);
  border-radius: 4px;
  border-right: 30px solid white;
  border-bottom: 20px solid white;
}

.footer-direction {
  display: flex;
  align-items: center;
  margin-left: 215px;
}

.footer-social-icons {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

/* modal section */

.modal {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inner-modal {
  width: 528px;
  height: 581px;
  background-color: var(--white);
  position: relative;
}

.close-modal {
  background-color: var(--white);
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  float: right;
  position: relative;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.close-btn {
  fill: var(--black);
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.close-btn:active {
  fill: var(--blue);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.1);
}

.inner-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.inner-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  margin-top: 40px;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
}

.row input,
textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-shadow: none;
  color: var(--gray);
  width: 100%;
  margin-bottom: 10px;
  margin-top: 4px;
  cursor: pointer;
}
.info-box input:focus,
textarea:focus {
  outline: 1px solid var(--blue);
}
.info-box textarea:focus::placeholder {
  font-size: 14px;
  line-height: 1.14;
}
.info-box .button {
  background-color: var(--blue);
  color: #ffffff;
  border-color: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px;
  width: 200px;
  height: 50px;
  align-self: center;
  font-family: inherit;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-box .button:focus,
.info-box .button:active,
.info-box .button:hover {
  background-color: #188ce8;
}
.info-box textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
}
.row input {
  padding: 14px 43px;
  max-height: 40px;
}

.row {
  color: var(--gray);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  position: relative;
}
.info-box-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.row:focus-within {
  border-color: var(--blue);
  fill: var(--blue);
}

.row:focus-within .info-box-icon {
  fill: var(--blue);
}

/* check-box input */

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: 14px;
  height: 15px;
  width: 16px;
  border: 1px solid var(--black);
  background-color: var(--white);
}

.checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
  border: none;
  border-radius: 2px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 3.5px;
  bottom: 1.5px;
  width: 8px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--gray);
}

.term {
  color: var(--blue);
}
