.subsol {
  display: flex;
  justify-content: center;
  background-color: #2f303a;

  .footer__inner {
    flex-basis: 450px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 60px 0;
  }

  .footer__address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer_contacts {
  text-align: center;

  .foot_logo_contacts__items {
    color: gray;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    &:hover {
      color: $blue;
    }

    .nv_items_footer--footerAddres {
      color: $white;
    }
  }
}

.find_us_p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 15px 0 20px 0;
  text-transform: uppercase;
  text-align: center;

  .social_icons {
    fill: currentColor;
    color: gray;
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 768px) {
  .subsol {
    .footer__inner {
      flex-basis: 768px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
@media screen and (min-width: 1200px) {
  .subsol {
    .footer__inner {
      flex-wrap: nowrap;
      flex-basis: 1200px;
      flex-grow: 0;
    }
    .footer__address {
      align-items: flex-start;
      flex-basis: 25%;
    }
    .find_us_p {
      text-align: left;
    }
  }
  .footer_contacts {
    text-align: left;
  }
}
