.page_header {
  display: flex;
  justify-content: center;

  &__inner {
    background-color: $white;
    flex: 0 0 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex: 0 1 1200px;
  }

  &__logo {
    font-weight: $fontWeight;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $blue;
  }
}
.logo_web {
  color: rgba(0, 0, 0, 1);
}
