.logo-customer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: calc(3 * $gap);
  margin-top: 30px;

  &__item {
    flex-basis: calc((100% - (3 * $gap)) / 2);
  }

  &__svg {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid $gray;
    border-radius: 4px;
    color: $gray;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      border: 1px solid $blue;
      color: $blue;
    }
  }
  &__icon {
    width: 100px;
    height: 47px;
    fill: currentColor;
  }
}
@media screen and (min-width: 768px) {
  .logo-customer {
    &__item {
      flex-basis: calc((100% - (3 * $gap)) / 4);
    }
  }
}

@media screen and (min-width: 1200px) {
  .logo-customer {
    flex-wrap: nowrap;
  }
}
