.big_section {
  margin: 0 auto;
  text-align: center;
  background-color: $borderColor;
  background-image: url(../images/bg-img.jpg);
  background-size: cover;
  background-position: center center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-bottom: 60px;

  h1 {
    margin: 0 auto;
    color: $white;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    padding: 0 60px;
  }
  .button {
    color: $white;
    background-color: $blue;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    max-width: 200px;
    max-height: 50px;
    padding: 10px 19px;
    align-self: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .request_button:hover,
  .request_button:focus,
  .request_button:active {
    background-color: $lightgray;
    color: $blue;
  }
}

@media screen and (min-width: 768px) {
  .big_section {
    background-image: url(../images/Header1200.png);
    h1 {
      padding: 0 204px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .big_section {
    max-width: 1600px;
    height: 600px;
    background-image: url(../images/Header1600.png);
    margin-bottom: 94px;
    h1 {
      padding: 0 450px;
      font-size: 44px;
    }
  }
}
