.subsol {
  background: $footerBg;
  padding-top: 60px;
  padding-bottom: 30px;

  .footer_direction {
    display: flex;
    flex-basis: 450px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 0;
  }
}

.footer_social_icons {
  display: flex;
  flex-direction: column;
  margin-left: 5%;

  .social_icons_list {
    margin-left: -10px;
    fill: $white;
  }
  .social_icons {
    fill: $white;
  }
}

.find_us_p {
  font-style: normal;
  font-weight: $fontWeight;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;
  padding-bottom: 25px;
}

.nv_items_footer {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: $blue;
  }
}

.footerAddres {
  color: $white;
  cursor: pointer;
  display: inline;
}

.foot_logo_contacts {
  margin-left: 130px;
}

.footer_logo_icons {
  display: flex;
  justify-content: center;
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  background-color: $blue;
  font-family: inherit;
  font-weight: $fontWeight;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid $borderColor;
  gap: 25px;
  flex: 1 0 40%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: scale(1.03);
  }

  .social_icons {
    width: 20px;
    height: 20px;
  }
}

.subscribe_container {
  .subscribe_title {
    font-weight: $fontWeight;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $white;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
}

.subscribe_form {
  display: flex;
  gap: 12px;

  input {
    flex: 1 0 40%;
    background-color: transparent;
    border: 1px solid $borderColor;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
    color: $white;
  }
  & input:focus {
    border-color: 1px solid $footerBg;
  }
}

@media screen and (min-width: 768px) {
  .subsol {
    .footer_direction {
      flex-basis: 768px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .subscribe_form {
    input {
      min-width: 358px;
    }
  }
}
