.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 5;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.1);
}
.inner-modal {
  background-color: $white;
  position: relative;
  //   width: 360px;
  height: 680px;
}

.close-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  float: right;
  position: relative;
  top: 8px;
  right: 8px;
  padding: 0;
  margin: 0;

  .close-btn {
    fill: $black;
    width: 22px;
    height: 22px;
    cursor: pointer;

    &:active {
      fill: $blue;
    }
  }
}

.inner_form {
  padding: 0 40px;
  display: flex;
  flex-direction: column;

  &_title {
    font-weight: $fontWeight;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    margin-top: 40px;
  }
}

.info_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;

  .button {
    background-color: $blue;
    color: #ffffff;
    border-color: $blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px;
    width: 200px;
    height: 50px;
    align-self: center;
    font-family: inherit;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & .button:focus,
  &.button:active,
  & .button:hover {
    background-color: $blue;
  }

  &_icon {
    position: absolute;
    left: 15px;
    top: 50%;
    fill: black;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.row {
  color: $gray;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  position: relative;
  input {
    padding: 14px 43px;
    max-height: 40px;
  }

  &:focus-within {
    border-color: $blue;
    fill: $blue;
  }
}
.row input,
textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-shadow: none;
  color: gray;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 4px;
  cursor: pointer;
}
.info_box input:focus,
textarea:focus {
  outline: 1px solid $blue;
}

.info_box textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  margin-bottom: 20px;

  & textarea:focus::placeholder {
    font-size: 14px;
    line-height: 1.14;
  }
}

.row:focus-within .info_box_icon {
  fill: $blue;
}

/* check-box input */

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &_title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $gray;
  }
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

  &:checked ~ .checkmark {
    background-color: $blue;
    border: none;
    border-radius: 2px;
  }

  &:checked ~ .checkmark:after {
    display: block;
  }
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: 14px;
  height: 15px;
  width: 16px;
  border: 1px solid $black;
  background-color: $white;

  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 3.5px;
  bottom: 1.5px;
  width: 8px;
  height: 15px;
  border: solid $white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.term {
  color: $blue;
}

@media screen and (min-width: 768px) {
  .inner-modal {
    height: 580px;
  }
}
